<!DOCTYPE html>
<html>
  <head>
    <title>严选商城</title>
    <meta name="viewport"  content="width=device-width",initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <!-- 引入css -->
    <%= yield :stylesheets %>

  </head>


  <body>

    <!-- 局部视图 -->
   <%= render 'layouts/menu'%>

  <div class="container">
    <!-- 主内容 -->
    <% unless flash[:notice].blank? %>
     <div class="alert alert-info">
      <%= flash[:notice] %>
     </div>

    <% end %>
    <%= yield %>
  </div>

    <!-- 放后面加快载速度 -->
  <%= javascript_include_tag 'application' %>

  <%= yield :javascripts%>



  </body>
</html>
